body {
  background: #06283d;
  color: #dff6ff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dff6ff;
  border-width: 2px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

a {
  text-decoration: none;
  color: #dff6ff;
  transition: color 1s;
}

.title-text {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: #06283d;
  background: #dff6ff;
}
